<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5">
    <div class="mhs">
      <div class="container phm pvs">
        <h3 class="mbm">Корзина</h3>
         <table border="0" width="100%" class="cart-table mbl">
            <thead>
              <tr>
                <th colspan="3">Товар</th>
                <th>Количество</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tfoot>
            <tr>
              <td colspan="5">
                <strong>Итого</strong>
                <strong class="right">
                  <%=human_price @cart.total(session[:currency])%>
                </strong>
              </td>
            </tr>
            </tfoot>
            <tbody>
            <%if @cart.items.empty?%>
              <tr>
                <td colspan="5"><span class="muted">Ваша корзина пуста</span> </td>
              </tr>
            <%end%>
            <% @cart.items.each do |item|%>
              <tr>
                <td><%= link_to "x", delete_from_cart_path(item.product.id), :method => :delete, :class=>"delete", :confirm=>"Вы уверены что хотите удалить этот товар из корзины?"%></td>
                <td><%= image_tag Product.find_by_id(item.product.id).image_url(:thumb)%></td>
                <td><%= link_to item.title, product_path(:id=>item.product.id)%></td>
                <td><%= item.quantity%></td>
                <td><%= human_price item.price(session[:currency])%></td>
              </tr>
            <%end%>
            </tbody>
          </table>
          <%= link_to "&larr; Продолжить покупки".html_safe, request.referer, :class=>"submit-button"%>
          <%= link_to "Оформить заказ &rarr;".html_safe, new_checkout_path, :class=>"submit-button right"%>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
  </div>
</div>