<div class="clearfix">
  <div class="col1of4">
    <div class="mrs">
    <%= render "account_block"%>
    <%= render "currency"%>
    </div>
  </div>
  <div class="col3of4">
    <div class="container mls mbm">
      <div class="box-header">
        <h1>Инструменты</h1>
      </div>
      <div class="pal">
        <%= link_to admin_pages_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/edit-select-all.png", :size=>"48x48" %>
          <span>Страницы</span>
        <%end%>
        <%= link_to admin_publications_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/news.png", :size=>"48x48"%>
          <span>Новости</span>
        <%end%>
        <%= link_to admin_promotions_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/bookmark-new.png", :size=>"48x48"%>
          <span>Акции</span>
        <%end%>
        <%= link_to admin_brands_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/edit-paste.png", :size=>"48x48"%>
          <span>Бренды</span>
        <%end%>
        <%= link_to admin_categories_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/icon_catalog.png", :size=>"48x48"%>
          <span>Каталог</span>
        <%end%>
        <%= link_to admin_products_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/products.png", :size=>"48x48"%>
          <span>Товары</span>
        <%end%>
        <%= link_to admin_checkouts_path, :class=>"tool-icon" do %>
          <%if Checkout.pending.count > 0%>
            <span class="new"><%= Checkout.pending.count%></span>
          <%end%>
          <%= image_tag "admin/x-office-spreadsheet.png", :size=>"48x48"%>
          <span>Заказы</span>
        <%end%>
        <%= link_to admin_product_comments_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/comment.png", :size=>"48x48"%>
          <span>Комменты</span>
        <%end%>
        <%= link_to admin_slides_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/monitor.png", :size=>"48x48"%>
          <span>Слайдер</span>
        <%end%>
        <%= link_to admin_banners_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/banner.png", :size=>"48x48"%>
          <span>Баннеры</span>
        <%end%>
        <%= link_to admin_slides_path, :class=>"tool-icon" do %>
          <%= image_tag "admin/text-x-generic.png", :size=>"48x48"%>
          <span>Тексты</span>
        <%end%>
      </div>
    </div>
      <div class="container mls">
        <div class="box-header">
          <h1>Последние комментарии</h1>
        </div>
        <div class="pam">
          <% @product_comments.each do |comment|%>
            <div class="mbm">
              <div class="clearfix dotted">
                <div class="col1of2">
                  <%= human_date_time comment.created_at%> –
                 <span class="muted">Автор:</span>  <strong><%= comment.name%></strong>
                </div>
                <div class="last-col">
                  <div class="right">
                  <span class="muted">товар:</span> 
                  <%= link_to comment.product.name, product_path(comment.product), :target=>"_blank"%>
                  </div>
                </div>
              </div>
              <p><%= comment.text%></p>
              <div class="clearfix pbm">
              <%= link_to "Delete", admin_product_comment_path(comment), :method=>:delete, :class=>"action-button" %>
              </div>
            </div>
          <%end%>
          <% if @product_comments.empty?%>
            <p class="muted">Нет новых комментариев</p>
          <%end%>
        </div>
      </div>
  </div>
</div>