<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5">
      <div class="container mhs">
        <div class="mhm mvs">
          <h3 class="mbs">Новости</h3>
          <div class="breadcrumb">
            <%= link_to "Главная", root_path %> /
            <span>Новости</span>
          </div>
          <%@publications.each do |pub|%>
          <div class="mbm">
            <h4 class="mbs"><%=pub.title%></h4>
            <p><%= human_date pub.date%></p>
            <div class="clearfix mbs">
              <% if pub.has_image?%>
                <%= image_tag pub.image_url(:thumb), :width=>"100", :class=>"left"%>
              <%end%>
              <p><%= pub.description.html_safe%></p>
            </div>
            <p><%= link_to "читать далее &rarr;".html_safe, publication_path(pub)%></p>
          </div>
          <%end%>
          <%= paginate @publications%>
        </div>
      </div>  
    </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
  </div>
</div