<%meta_data(@publication)%>
<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/left_banner"%>
  </div>
  <div class="col3of5">
      <div class="container mhs">
        <div class="mhm mvs">
          <h3 class="mbs"><%= @publication.title%></h3>
          <div class="breadcrumb">
            <%= link_to "Главная", root_path %> /
            <%= link_to "Новости", publications_path%> 
          </div>
          <div class="clearfix mbl">
            <div class="left mrs">
              <div class="fb-like" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
            </div>
            <div class="left mrs">
              <div id="vk_like"></div>
              <script type="text/javascript">
              VK.Widgets.Like("vk_like", {type: "button"});
              </script>
            </div>
            <div class="left mrs">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="muzkom" data-lang="ru" data-related="muzkom" data-hashtags="muzkom">Твитнуть</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
          <div class="wysiwyg mbl">
            <%= @publication.text.html_safe%>
          </div>
        </div>
        <% @publication.publication_comments.each_with_index do |comment, i|%>
        <div class="comment <%=(i+1)%2 == 0 ? 'z2' : 'z1'%>">
          <div class="mbs">
            <small class="muted"><%= human_date_time comment.created_at%></small> |
            <strong><%= comment.name%></strong> 
          </div>
          <p><%= comment.text%></p>
        </div>
        <%end%>
        <div class="mhm">
          <%if @publication.publication_comments.empty?%>
            <p class="mbl muted">Не комментариев. Будьте первым, кто оставит комментарий.</p>
          <%end%>
          <br />
          <h4 class="mbm">Добавить новый комментарий:</h4>
          <div class="mbl">
            <%=form_for [@publication, @comment] do |f|%>
            <div class="field">
              <label for="">Ваше имя</label>
              <%= f.text_field :name, :class=>"text"%>
            </div>
            <div class="field">
              <label for="">Комментарий</label>
              <%= f.text_area :text, :class => "text", :size=>"0x5"%>
            </div>
            <%= f.hidden_field :publication_id, :value => @publication.id%>
            <%= f.submit "Отправить", :class => "submit-button"%>
            <%end%>
          </div>
          <h4 class="mbm">Последние новости:</h4>
          <% @related.each do |pub|%>
            <p>
              <%=human_date pub.date%> <%=link_to pub.title, publication_path(pub)%>
            </p>
          <%end%>
        </div>
      </div>  
    </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
    <%=render "shared/right_banner"%>
  </div>
</div