<div class="clearfix mbm">
  <div class="col3of4">
    <div class="container mrs">
      <div class="box-header">
        <h1><%= @brand.name%></h1>
      </div>
      <div class="mam">
        <%= render "form"%>
      </div>
    </div>
  </div>
  <div class="col1of4">
    <div class="mls">
      <div class="container mbm">
        <div class="box-header">
          <h1>Курс Валют</h1>
        </div>
        <div class="clearfix pam">
          <%= form_tag enter_admin_brand_currencies_path(@brand) do %>
          <div class="field">
            <strong>1 USD = </strong>
            <input type="text" name="currency[usd]" class="text" value="<%= @brand.currency_rate("usd", "uah")%>" style="width: 100px"/>
          </div>
          <div class="field">
            <strong>1 EUR = </strong>
            <input type="text" name="currency[eur]" class="text" value="<%= @brand.currency_rate("eur", "uah")%>" style="width: 100px"/>

          </div>
          <div class="field">
            <input type="submit" value="Сохранить" class="submit-button right">
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>