<div class="clearfix">
  <div class="container mbl">
    <div class="box-header mbm"><h1>Производители</h1></div>
      <div class="clearfix mam">
        <%= link_to "Добавить", new_admin_brand_path, :class=>"submit-button right"%>
      </div>
      <div class="mhm">
      <table class="data-table mbm">
        <thead>
          <tr>
            <td class="checkbox"><input type="checkbox"></td>
            <td>Производитель</td>
            <td>Товаров</td>
            <td class="actions">Посл.Редакт.</td>
            <td class="actions">Действия</td>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="9">Показано <%=  @brands.count %> производителей</td>
          </tr>
        </tfoot>
        <tbody>
          <% @brands.each do |brand|%>
          <tr>
            <td><input type="checkbox" /></td>
            <td><%= link_to brand.name, admin_brand_products_path(brand)%></td>
            <td><span class="muted">Товаров: <%= brand.products.count%></span></td>
            <td><%= human_date_time(brand.updated_at) || "-"%></td>
            <td>
            <%#= link_to visibility_button(brand.visibility), visibility_admin_brand_path(brand), :class=>"visibility-button", :method => :post, :id=>"visibility_#{brand.id}", :remote=>true %>
            <%=link_to 'Edit' , edit_admin_brand_path(brand), :class=>"action-button" %>
            <%#=link_to 'Delete' , admin_brand_path(brand), :method=>:delete, :confirm=>"Вы уверены, что хотите удалить этого производителя со всеми вложенными товарами?", :class=>"action-button"%>
            </td>
          </tr>
          <%end%>
          <%if @brands.empty?%>
            <tr>
              <td colspan="9"><p>Нет производителей</p></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
