<div class="container mbl">
  <div class="box-header mbm"><h1>Заказы</h1></div>
  <div class="mhm">
    <table class="data-table mbm">
      <thead>
        <tr>
          <td class="checkbox"><input type="checkbox"></td>
          <td class="actions">Номер заказа</td>
          <td>Дата</td>
          <td>Заказчик</td>
          <td>Адрес</td>
          <td style='width: 120px'>Статус</td>
          <td style="width: 70px">Действия</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="9"></td>
        </tr>
      </tfoot>
      <tbody>
        <% @checkouts.each do |checkout|%>
        <tr>
          <td><input type="checkbox" /></td>
          <td>
            <%= link_to "#{image_tag("icons/ticket.png")} #{checkout.id}".html_safe, admin_checkout_path(checkout)%>
          </td>
          <td><%= human_date_time checkout.created_at%></td>
          <td><%= checkout.fullname%></td>
          <td><span class="muted"><%=checkout.country%>, <%=checkout.city%><br /><%=checkout.address%> <%checkout.purchases.each do |purchase|%> <%= link_to purchase.product.title, product_path(purchase.product), :target=>"_blank"%>, <%end%></span></td>
          <td><%= human_status checkout.status%>
          <%= link_to image_tag("icons/icon_comment.gif"), "#", :title => checkout.comment unless checkout.comment.blank?%></td>
          <td>
            <%=link_to 'Delete' , admin_checkout_path(checkout), :method=>:delete, :confirm=>"Вы уверены, что хотите удалить этот заказ?", :class=>"action-button"%>
          </td>
        </tr>
        <%end%>
        <%if @checkouts.empty?%>
        <tr>
          <td colspan="9"><p>Нет заказов</p></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>