<div class="row black raleway m-t-20">
  <div class="footer ">
    <div class="row">
      <div class="col-md-3 col-sm-4 hidden-xs">
        <div class="row">
          <div class="col-md-5  col-sm-5">
            <%= image_tag "/images/main/logo_white.png", :style=>"width:100%" %>
          </div>       
          <div class="col-md-7 col-sm-7">
            <div class="row">
              <div class="col-md-2 col-sm-2 p-0">
                <span class="small-icon pin-white"></span>
              </div>
              <div class="col-md-8 p-0">г. Киев</div>
            </div>
            <div class="row p-t-5">
              <div class="col-md-2  col-sm-2 col-xs-2 p-0 p-t-10">
                <span class="small-icon phone-white"></span>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-10 p-0">
                (063) 625 48 05<br>
                (044) 592 86 14
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="col-md-2  col-sm-3 col-xs-6">
          <ul class="footer-nav">
          <li><%= link_to "Новости", publications_path%></li>
          <li><%= link_to "О нас", "/about_us"%></li>
          <li><%= link_to "Оплата/доставка", "/payment_delivery"%></li>
          <li><%= link_to "Гарантия", "/warranty"%></li>
          <li><%= link_to "Акции", promotions_path%></li>
          <li><%= link_to "Дисконт", "/discount"%></li>
          <li><%= link_to "Контакты", new_feedback_path%></li>
          <li><%= link_to "Корзина", cart_path %></li>
        </ul>
      </div>
      <div class="col-md-7 col-sm-5 hidden-xs p-l-40 border-l-1 border-white">
          <p>Copyright 2010 - <%= Time.now.year%> Muzkom.com.ua Все права защищены. Интернет магазин MUZKOM предлагает купить музыкальные инструменты, DJ оборудование, световое и звуковое оборудование от лучших производителей с доставкой по всей Украине.</p><br>
          <p>Партнерская программа Leolink от LeoStudio: штукатурка финишная | купить компрессор в киеве | купить фильтры для воды | заказ шкафа купе | двери межкомнатные деревянные цена</p>
          <p><span class="goriz-icon visa-white"></span><span class="goriz-icon mc-white m-t-5"></span></p>
      </div>
      <div class="col-xs-6 visible-xs-block p-0">
      <div class="row">
              <div class="col-xs-2 p-0">
                <span class="small-icon pin-white"></span>
              </div>
              <div class="col-xs-10 p-0">г. Киев</div>
            </div>
            <div class="row p-t-5">
               <div class="col-xs-2 p-0">
                <span class="small-icon phone-white"></span>
              </div>
              <div class="col-xs-10 p-0">
                (063) 625 48 05<br>
                (044) 592 86 14
              </div>
            </div>
            <div class="row p-t-5">
              <span class="goriz-icon visa-white"></span><span class="goriz-icon mc-white m-t-5"></span>
            </div>
      </div>
    </div>
    <div class="row p-t-10">
        <noindex>
        <center>
            <a href="http://www.facebook.com/profile.php?id=100001185448670" target="_blank" rel="nofollow"><span class="big-icon m-10 fb-white"></span></a>
            <a href="http://vk.com/id55454631" target="_blank" rel="nofollow"><span class="big-icon m-10  vk-white"></span></a>
            <a href="https://twitter.com/#!/muzkom_com_ua" target="_blank" rel="nofollow"><span class="big-icon m-10  twitter-white"></span></a>
            <a href="http://www.youtube.com/user/MUZKOM" target="_blank" rel="nofollow"><span class="big-icon m-10  youtube-white"></span></a>
            <a href="#" target="_blank" rel="nofollow"><span class="big-icon m-10  insta-white"></span></a>
            <a href="http://muzkom-com-ua.livejournal.com/" target="_blank" rel="nofollow"><span class="big-icon m-10  lg-white"></span></a>
            <a href="/feed.rss" target="_blank" rel="nofollow"><span class="big-icon m-10  rss-white"></span></a>
            <a href="https://plus.google.com/+MuzkomUaKiev/posts" target="_blank" rel="nofollow"><span class="big-icon m-10  gplus-white"></span></a>
        </center>
        </noindex>
    </div>
  </div>
</div>