<div class="product list">
  <div class="clearfix mbm">
    <div class="image">
      <%= link_to image_tag(product.image_url(:thumb)), product_path(product)%>
    </div>
    <div class="last-col pll">
      <div class="mbs"><strong><%=link_to product.name, product_path(product)%></strong>
        <%if !product.promotions.empty? %>
          <%= link_to promotion_path(product.promotions.first), :data => { :title => product.promotions.first.description} do%>
            <span class="label label-important">Акция</span>
          <%end%>
        <%end%>
      </div>
      <div><span class="muted">Код товара: <%= product.id%></span></div>
      <p><%= product.short_description.html_safe%></p>
      <% if product.color_present? %>
        <div class="mbs">
          <strong>Товар доступен в разных цветах:</strong>
          <span class="icon"><%= image_tag ('icons/checkbox_1.png'), :class=>"yes" %></span>
        </div>
      <% end %>
      <p><span class="success"><%= product.status.name%></span></p>
      <%= link_to "подробнее >>", product_path(product) %>
    </div>
  </div>
  <div class="clearfix">
    <div class="col1of2">
      <%= render "shared/product_price", :product => product%>
    </div>
    <div class="col1of2">
      <%= link_to "Купить", add_cart_path(:id=>product.id), :class=>"buy-button right", :method=>:put %>
    </div>
  </div>
</div>