<div class="clearfix">
  <div class="col1of5">
    <div class="container">
      <h2><span>Производители</span></h2>
      <select name="" id="" class="mam">
        <option value="">Выберите производителя</option>
        <option value="">AARDVARK</option>
        <option value="">ACME</option>
        <option value="">ADAM</option> 
      </select>
    </div>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5">

    <div class="container mhs">
      <%=image_tag "rotator/001.jpg" %>
    </div>
    <div class="mhs">
      <div class="clearfix mbs">
        <div class="col1of2">

          <div class="product block mrx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>Sennheiser FP 35</strong></a></p>
                <p>Беспроводная вокальная микрофонная система Sennheiser FP 35</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">2640.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href=""><a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col1of2">
          <div class="product block mlx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>Novation Launchpad</strong></a></p>
                <p>Novation Launchpad — специализированный контроллер для Ableton Live</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">1880.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix mbs">
        <div class="col1of2">

          <div class="product block mrx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>Sennheiser FP 35</strong></a></p>
                <p>Беспроводная вокальная микрофонная система Sennheiser FP 35</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">1200.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col1of2">
          <div class="product block mlx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>CR Laser FIT-S G</strong></a></p>
                <p>Беспроводная вокальная микрофонная система Sennheiser FP 35</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">1740.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix mbs">
        <div class="col1of2">
          <div class="product block mrx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>MXL 990 USB</strong></a></p>
                <p>Беспроводная вокальная микрофонная система Sennheiser FP 35</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">1200.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col1of2">
          <div class="product block mlx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>VOX AC1 RHYTHM VOX</strong></a></p>
                <p>Беспроводная вокальная микрофонная система Sennheiser FP 35</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">1740.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix mbs">
        <div class="col1of2">
          <div class="product block mrx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>Sennheiser FP 35</strong></a></p>
                <p>Беспроводная вокальная микрофонная система Sennheiser FP 35</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">1200.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col1of2">
          <div class="product block mlx">
            <div class="clearfix mbm">
              <div class="image">
                <a href=""><%=image_tag "noimage.jpeg", :width=>'100'%></a>
              </div>
              <div class="description last-col">
                <p><a href=""><strong>CR Laser FIT-S G</strong></a></p>
                <p>Беспроводная вокальная микрофонная система Sennheiser FP 35</p>
                <a href="">подробнее</a>
              </div>
            </div>
            <div class="clearfix">
              <div class="col1of2">
                <strong class="price">1740.00 грн</strong> 
              </div>
              <div class="col1of2">
                <a href="" class="buy-button right">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
    <%=render "shared/latest"%>
    <p style="text-align: center;"><a href="http://muzkom.com.ua/page.php?id=4"><img width="150" height="230" alt="" src="http://muzkom.com.ua/banners/freedelivery.jpg"></a></p>

    <p style="text-align: center;"><a href="http://muzkom.com.ua/view_product.php?id=5335"><img width="150" height="200" alt="" src="http://muzkom.com.ua/banners/rvmb.jpg"></a></p>

  </div>
</div>