<% title "Muzkom - Интернет магазин оборудование для: DJ‘s, саунд-продюсеров, музыкантов, ночных клубов"%>
<% meta_d "DJ оборудование, студийное оборудование, музыкальные инструменты, звуковое и световое оборудование"%>
<% meta_k "звуковое оборудование и музыкальные инструменты"%>
  <div class="row p-l-5">
    <%=link_to image_tag(@slides[0].image_url,:style=>"width:100%"), @slides[0].link%>
  </div>
  <%=render "shared/latest"%>
  <div class="row m-t-20">
    <%@products.each_with_index do |product, index|%>
      <div class="col-md-3 p-10">
        <div class="item">
              <center><%= link_to image_tag(product.image_url(:thumb), :class=> "product-image"), product_path(product) %>
              <%= render "shared/product_price", :product => product%>
              <span class="product-name"><%= link_to product.name, product_path(product)%></span>
              <%#= link_to "", add_cart_path(:id=>product.id), :class=>"buy-button right", :method=>"put" do %>
                <div class="row">
                <span class="big-icon cart-blue-rectangle"></span>
                </div>
              <%#end%>
        </div>
      </div>
    <%end%>
  </div>
  <%=render "shared/short_about"%>

