<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5">

    <div class="container mhs">
      <div class="slider">
      <% @slides.each do |slide|%>
        <%=link_to image_tag(slide.image_url), slide.link%>
      <%end%>
      </div>
    </div>
    <div class="mhs">
      <div class="clearfix mbs">
        <%@products.each_with_index do |product, index|%>
          <div class="col1of2">
            <div class="product block<%= product_class index+1%>">
              <div class="clearfix mbm">
                <div class="image">
                  <%= link_to image_tag(product.image_url(:thumb)), product_path(product)%>
                </div>
                <div class="description last-col">
                  <p><%= link_to product.name, product_path(product)%></strong></p>
                  <p><%= product.short_description.html_safe%></p>
                  <a href="">подробнее</a>
                </div>
              </div>
              <div class="clearfix">
                <div class="col1of2">
                  <strong class="price">
                    <%= human_price product.converted_price(session[:currency])%>
                  </strong> 
                </div>
                <div class="col1of2">
                  <a href=""><a href="" class="buy-button right">Купить</a>
                </div>
              </div>
            </div>
          </div>
          <%if (index+1)%2 == 0 %>
            </div><div class="clearfix mbs">
          <%end%>
        <%end%>
      </div>
      <div class="mbs">
        <%= @page.text.html_safe%>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
    <%=render "shared/latest"%>
    <p style="text-align: center;"><a href="http://muzkom.com.ua/page.php?id=4"><img width="150" height="230" alt="" src="http://muzkom.com.ua/banners/freedelivery.jpg"></a></p>

    <p style="text-align: center;"><a href="http://muzkom.com.ua/view_product.php?id=5335"><img width="150" height="200" alt="" src="http://muzkom.com.ua/banners/rvmb.jpg"></a></p>

  </div>
</div>