<% title "Muzkom - Интернет магазин оборудование для: DJ‘s, саунд-продюсеров, музыкантов, ночных клубов"%>
<% meta_d "DJ оборудование, студийное оборудование, музыкальные инструменты, звуковое и световое оборудование"%>
<% meta_k "звуковое оборудование и музыкальные инструменты"%>
  <div class="row m-0 m-b-10 b-t-10 p-0">
    <div class="col-md-4 col-sm-4 col-xs-4 p-0">
      <div class="col-md-2"><center><span class="small-goriz-icon m-l-0 m-10 icon-delivery"></span></center></div>
      <div class="col-md-10 h30">
        <center><p class="grey" style="padding-top: 15px">Бесплатная доставка</p></center>
      </div>
    </div>
    <div class="col-md-4  col-sm-4 col-xs-4 p-0">
      <div class="col-md-2"><center><span class="small-goriz-icon m-l-0 m-10 icon-prices"></span></center></div>
      <div class="col-md-10 h30">
        <center><p class="grey" style="padding-top: 15px">Дисконтная программа</p></center>
      </div>
    </div>
    <div class="col-md-4  col-sm-4 col-xs-4  p-0">
      <div class="col-md-3"><center><span class="small-goriz-icon m-l-0 m-10 icon-money"></span></center></div>
      <div class="col-md-9 h30 p-0">
        <center><p class="grey" style="padding-top: 15px">Рассрочка, оплата частями</p></center>
      </div>
    </div>
  </div>
  <div class="row p-l-5">
    <%=link_to image_tag(@slides[0].image_url,:style=>"width:100%"), @slides[0].link%>
  </div>
  <%=render "shared/latest"%>
  <div class="row m-t-30 m-b-40" style="padding: 0 20px">
    <%@products.each_with_index do |product, index|%>
      <div class="col-md-3 p-10 col-sm-4 col-xs-12">
          <div class="hidden-xs item h350">
                <center><%= link_to image_tag(product.image_url(:thumb), :class=> "product-image"), product_path(product) %>
                <%= render "shared/product_price", :product => product%>
                <span class="product-name"><%= link_to product.name, product_path(product)%></span>
                <%#= link_to "", add_cart_path(:id=>product.id), :class=>"buy-button right", :method=>"put" do %>
                  <div class="row">
                  <span class="big-icon cart-blue-rectangle"></span>
                  </div> 
                <%#end%>
          </div>
          <div class="visible-xs-block item h280">
            <div class="row">
              <div class="col-xs-6">
                <center><%= link_to image_tag(product.image_url(:thumb), :class=> "product-image"), product_path(product) %>
                <%= render "shared/product_price", :product => product%>
              </div>
              <div class="col-xs-6">
                <span class="product-name"><%= link_to product.name, product_path(product), :style=>"font-size:34px;line-height:32px;"%></span>
              </div>
            </div>
            
          </div>
      </div>
    <%end%>
  </div>
  <%=render "shared/short_about"%>

