<%meta_data @page%>
<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
    <%=render "shared/left_banner"%>
  </div>
  <div class="col3of5">
    <div class="container clearfix mhs">
      <div class="wysiwyg mam">
        <%= @page.text.html_safe%>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
    <%=render "shared/latest"%>
    <%=render "shared/right_banner"%>
  </div>
</div>