<% title("Muzkom - Рассрочка, оплата частями")%>
<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
    <%=render "shared/left_banner"%>
  </div>
  <div class="col3of5">
      <div class="container mhs">
        <div class="mhm mvs">
          <h3 class="mbs">Рассрочка, оплата частями</h3>
          <div class="breadcrumb">
            <%= link_to "Главная", root_path %> /
            <span>Рассрочка, оплата частями</span>
          </div>
          <%@credits.each do |pub|%>
          <div class="publication">
            <h4 class="mbs"><%=pub.title%></h4>
            <div class="clearfix">
              <% if pub.has_image?%>
                <%= image_tag pub.image_url(:thumb), :class=>"left mrm"%>
              <%end%>
              <p><%= pub.description.html_safe%>
                <%= link_to "читать далее &rarr;".html_safe, credit_path(pub)%>
              </p>
            </div>
          </div>
          <%end%>
          <%= paginate @credits%>
        </div>
      </div>
    </div>
  <div class="col1of5">
    <%=render "shared/code_search"%>
    <%=render "shared/contacts"%>
    <%=render "shared/right_banner"%>
  </div>
</div