<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5"> 
    <div class="container mhs">
      <div class="mhm wysiwyg">
        <%=@success.text.html_safe%>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
  </div>
</div>