<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5">
    <div class="container clearfix mhs">
      <div class="wysiwyg mam">
        <%= @text.text.html_safe%>
      </div>
    </div>
  </div>
  <div class="col1of5">
      <%=render "shared/code_search"%>
      <%=render "shared/contacts"%>
      <%=render "shared/latest"%>
  </div>
</div>