<%meta_data @page%>
<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
    <%=render "shared/left_banner"%>
  </div>
  <div class="col3of5">
    <div class="container clearfix mhs">
      <div class="wysiwyg mam">
        <%= @page.text.html_safe%>
      </div>
      <div class="mam">
        <%=form_for @feedback do |f|%>
        <div class="field clearfix">
          <div class="col2of3">
            <label for="">ФИО: <span class="astra">*</span></label>
            <%= f.text_field :name, :class => "text"%>
          </div>
        </div>
        <div class="field clearfix">
          <div class="col2of3">
            <label for="">Телефон: <span class="astra">*</span></label>
            <%= f.text_field :phone, :class => "text"%>
          </div>
        </div>
        <div class="field clearfix">
          <div class="col2of3">
            <label for="">Email: <span class="astra">*</span></label>
            <%= f.text_field :email, :class => "text"%>
          </div>
        </div>
        <div class="field clearfix">
          <div class="col2of3">
            <label for="">Город: </label>
            <%= f.text_field :city, :class => "text"%>
          </div>
        </div>
        <div class="field">
          <label for="">Тема</label>
          <select name="feedback[subject]" id="">
            <option value="Купить">Купить</option>
            <option value="Продать">Продать</option>
            <option value="Заказать прайс лист">Заказать прайс лист</option>
          </select>
        </div>
        <div class="field">
          <label for="">Текст сообщения: <span class="astra">*</span></label>
          <%= f.text_area :text, :class => "text", :size=>"0x5"%>
        </div>
        <div class="field">
          <%= recaptcha_tags :display=>{:theme=>"white"}%>
        </div>
        <%= f.submit "Отправить", :class => "submit-button"%>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
    <%=render "shared/latest"%>
    <%=render "shared/right_banner"%>
  </div>
</div>