<% unless @category.nil?%>
  <div class="container mbl mlm">
    <div class="box-header mbm"><h1>Категории каталога</h1></div>
    <div class="right mam">
      <%= link_to "Добавить", new_admin_category_subcategory_path(@category), :class=>"submit-button right"%>
    </div>
     <div class="mhm">
       <%= form_tag move_admin_subcategories_path do%>
       <div class="ptm">
       <%= select :subcategory, :category_id, options_from_collection_for_select(Category.all, :id, :name), {:include_blank=>true}, "data-placeholder"=>"Переместить в", :class=>"chzn-select", :style=>"width:240px"%>
       <%= submit_tag "Переместить", :class=>"action-button"%>
       </div>
         <table class="data-table mbm">
           <thead>
             <tr>
               <td class="checkbox"><input type="checkbox"></td>
               <td>Наименование</td>
               <td>Товаров</td>
               <td class="actions">Действия</td>
             </tr>
           </thead>
           <tfoot>
             <tr>
               <td colspan="9">Показано <%=  @category.subcategories.count %> категорий</td>
             </tr>
           </tfoot>
           <tbody id="subcategories" data-update-url="<%= sort_admin_subcategories_path%>">
             <% @category.subcategories.order(:priority).each do |category|%>
             <tr id="subcategory_<%= category.id%>">
               <td class="checkbox"><%= check_box_tag "subcategory[ids][]", category.id %></td>
               <td><%= link_to category.name, admin_subcategory_products_path(category)%></td>
               <td><span class="muted">Товаров: <%= category.products.size%></span></td>
               <td>
                 <%= link_to visibility_button(category.visibility), visibility_admin_category_subcategory_path(@category, category), :class=>"visibility-button", :method => :post, :id=>"visibility_#{category.id}", :remote=>true %>
                 <%=link_to 'Edit' , edit_admin_category_subcategory_path(@category, category), :class=>"action-button" %>
                 <%=link_to 'Delete' , admin_category_subcategory_path(@category,category), :method=>:delete, :confirm=>"Вы уверены, что хотите удалить эту страницу?", :class=>"action-button"%>
               </td>
             </tr>
             <%end%>
             <%if @category.subcategories.empty?%>
             <tr>
               <td colspan="9"><p>Нет категорий</p></td>
             </tr>
             <%end%>
           </tbody>
         </table>
        <%end%>
     </div>
  </div>
<%end%>