<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5">
    <div class="container mhs">
      <div class="mhm mvs">
        <h3 class="mbs"><%= @product.name%></h3>
        <div class="breadcrumb">
          <%= link_to "Каталог товаров", root_path %> /
          <a href=""><%= @product.subcategory.category.name%></a> /
          <%= link_to @product.subcategory.name, category_path(@product.subcategory)%> /
          <span><%= @product.name%></span>
        </div>

        <div class="clearfix mbm">
          <div class="col1of2">
            <div class="mrm mtl">
              <div class="mbm">
                <span class="muted">цена:</span>
                <span class="product-price">
                  <%= product_price(@product)%>
                </span>
              </div>
              <div class="mbs">
                <strong>Наличие: </strong> 
                <span class="success"><%= @product.status.name%></span>
              </div>
              <div class="mbs">
                <strong>Производитель: </strong> 
                <a href=""><%= @product.brand.name%></a>
              </div>
              <div class="mbl">
                <strong>Валюта:</strong>
                <%= form_tag change_currency_path, :method => :put, :style=>"display: inline;" do%>
                <select name="currency" id="" style="width: 80px" change="submitForm">
                  <option value="uah" <%= "selected" if session[:currency] == "uah"%>>ГРН</option>
                  <option value="usd" <%= "selected" if session[:currency] == "usd"%>>USD</option>
                  <option value="eur" <%= "selected" if session[:currency] == "eur"%>>EUR</option>
                </select>
                <%end%>
              </div>
              <div class="mbm">
                <%unless @product.withdrawn?%>
                  <%= link_to "Купить", add_to_cart_path(@product), :class=>"buy-button", :method=>"put"%>
                <%end%>
              </div>
              <div class="clearfix mbm">
                <div class="col1of2">

                </div>
              </div>
            </div>
          </div>
          <div class="col1of2">
            <div class="by-right">
            <%= link_to image_tag(@product.image_url, :width=>"200"), @product.image_url, :rel=>'facebox'%>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <ul class="tab-switcher clearfix">
            <li><a href="#tab1" class="current">Описание</a></li>
            <li><a href="#tab2">Видео</a></li>
            <li><a href="#tab3">Комментарии (0)</a></li>
          </ul>
          <div class="tab-container">
            <div id="tab1" class="tab">
              <%= @product.description.html_safe%>
            </div>
            <div id="tab2" class="tab">
              Видео
            </div>
            <div id="tab3" class="tab">
              Комментарии
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <%=render "shared/contacts"%>
    <div class="container">
      <h2><span>Похожие товары</span></h2>
      <div class="pam">
        <% @similar.each do |product|%>
        <div class="by-center mbl">
          <div class="">
            <strong>
              <%= link_to product.name, product_path(product)%>
            </strong>
          </div>
          <div class="mbs">
            <%= image_tag(product.image_url(:thumb))%>
          </div>
          <strong>
            <%= human_price product.converted_price(session[:currency])%>
          </strong>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>