<div class="clearfix">
  <div class="col1of5">
    <%=render "shared/brands_filter"%>
    <%=render "shared/catalog"%>
    <%=render "shared/news"%>
  </div>
  <div class="col3of5">
    <div class="container mhs">
      <div class="mhm mvs">
        <h3 class="mbs"><%= @product.name%></h3>
        <div class="breadcrumb">
          <a href=""><%= @product.subcategory.category.name%></a> /
          <a href=""><%= @product.subcategory.name%></a> /
          <span><%= @product.name%></span>
        </div>

        <div class="clearfix mbm">
          <div class="col2of3">
            <div class="mrm mtl">
              <div class="mbm">
                <span class="muted">цена:</span>
                <span class="product-price"><%=@product.price%> <%=@product.currency%></span>
              </div>
              <div class="mbs">
                <strong>Наличие: </strong> 
                <span class="success"><></span>
              </div>
              <div class="mbl">
                <strong>Производитель: </strong> 
                <a href=""><%= @product.brand.name%></a>
              </div>
              <div class="mbm">
                <a href="" class="buy-button">Купить</a>
              </div>
              <div class="clearfix mbm">
                <div class="col1of2">
                  <a href="">
                    <img src="images/icons/delivery.png" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col1of3 by-center">
            <a href=""><img src="images/products/vox-ac1-rhythm.jpg" alt="" style="width:170px"/></a>
          </div>
        </div>
        <div class="clearfix">
          <%= @product.description.html_safe%>
        </div>
      </div>
    </div>
  </div>
  <div class="col1of5">
    <div class="container">
      <h2><span>Контакты</span></h2>
      <div class="pam">
        <p>
          Пн.- Пт.<br />
          с 10.00 – 19.00<br />
          он-лайн заказы 24/7<br />
          Сб. с 11.00 - 15.00<br />
        </p>
        <p>
          Тел. (063) 625 48 05,<br /> 
          (044) 592 86 14<br />
          ICQ: 570560950
        </p>
      </div>
    </div>

    <div class="container">
      <h2><span>Похожие товары</span></h2>
      <div class="pam">
        <div class="by-center mbl">
          <div class="">
            <a href=""><strong>CR Laser TOP-1S (100)</strong></a>
          </div>
          <div class="mbs">
            <img src="images/products/CR.jpg" alt="" />
          </div>
          <strong>2240.00 грн</strong>
        </div>
        <div class="by-center mbm">
          <div class="">
            <a href=""><strong>CR Laser FIT-S G</strong></a>
          </div>
          <div class="mbs">
            <img src="images/products/FIT.jpg" alt="" />
          </div>
          <strong>1780.00 грн</strong>
        </div>
        <div class="by-center mbl">
          <div class="">
            <a href=""><strong>CR Laser TOP-1S (100)</strong></a>
          </div>
          <div class="mbs">
            <img src="images/products/CR.jpg" alt="" />
          </div>
          <strong>2240.00 грн</strong>
        </div>
        <div class="by-center mbm">
          <div class="">
            <a href=""><strong>CR Laser FIT-S G</strong></a>
          </div>
          <div class="mbs">
            <img src="images/products/FIT.jpg" alt="" />
          </div>
          <strong>1780.00 грн</strong>
        </div>
      </div>
    </div>

  </div>
</div>