<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title || "Muzkom - Интернет магазин оборудование для: DJ‘s, саунд-продюсеров, музыкантов, ночных клубов"%></title>
  <meta name="description" content="<%= @meta_description || "DJ оборудование, студийное оборудование, музыкальные инструменты, звуковое и световое оборудование"%>" />
  <meta name="keywords" content="<%= @meta_keywords || "звуковое оборудование и музыкальные инструменты"%>" />
  <% stylesheet_link_tag    "application" %>
  <% javascript_include_tag "application" %>
  <%= favicon_link_tag "favicon.png"%>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</head>
<body>
<%=render "shared/top"%>
<div class="container">
  <%=render "shared/header"%>
  <%=render "shared/navbar"%>

  <div class="row">
    <div class="col-md-3 col-md-3-m">
      <%=render "shared/catalog"%>
      <%=render "shared/brands_filter"%>
      <%=render "shared/news"%>
      
    </div>
    <div class="col-md-9 col-md-9-m m-l-15 col-sm-12">
      <%= yield %>
    </div>
  </div>
  <%=render "shared/footer"%>
</div>
</body>
</html>
