<!DOCTYPE html>
<html>
<head>
  <title>Muzkom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="clearfix">
        <div class="col1of3">
          <%= link_to image_tag("logo1.png", :class=>"mvs"), root_path %>
        </div>
        <div class="col1of3 ptl">
          <%= image_tag "header_order.png", :class=>"" %>
        </div>
        <div class="right mvm">
          <div class="mbm">
            <span class="muted">Все цены в </span>
            <select name="" id="" style="width: 80px">
              <option value="">ГРН</option>
              <option value="">EUR</option>
              <option value="">USD</option>
            </select>
          </div>
          <div class="cart">
             <%= image_tag "cart.png", :class=>"" %>
            <div class="left mtx">
              <strong>товаров:</strong> <strong class="value">2</strong><br />
              <strong>на сумму:</strong> <strong class="value">3000.00 грн</strong>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="navigation">
      <ul class="mainmenu col4of5">
        <li><%= link_to "Новости", "/news"%></li>
        <li><%= link_to "О нас", "/about_us"%></li>
        <li><%= link_to "Оплата/доставка", "/payment_delivery"%></li>
        <li><%= link_to "Гарантия", "/warranty"%></li>
        <li><%= link_to "Акции", "/stock"%></li>
        <li><%= link_to "Дисконт", "/discount"%></li>
        <li><%= link_to "Контакты", "/contacts"%></li>
      </ul>
      <div class="col1of5 mts">

      </div>
    </div>
    <div class="body">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="clearfix">
        <div class="col3of4">
          <div class="clearfix mbl">
            <div class="col2of5">
              <p class="block by-center">
                <%= image_tag "logo_small.png" %><br />
                профессиональное музыкальное оборуование
                <br />
                <br />
              </p>
            </div>
            <div class="col3of5">
              <div class="block">
                <p class="mbn">г. Киев</p>
                <p class="mbn">Тел.:<br /> (063) 625 48 05,</p>
                <p class="mbn">(044) 592 86 14</p>
                <p class="mbn">ICQ: 570560950</p>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <p>Copyright <%= Time.now.year%> Muzcom.com.ua. Интернет магазин Muzkom предлагает купить музыкальное оборудование</p>
          </div>
        </div>
        <div class="col1of4">
          <div class="mll">
            <div class="mbm">
              <%= image_tag "icons/facebook.png", :class=>"icon" %> <a href="">Facebook</a>
            </div>
            <div class="mbm">
              <%=image_tag src="icons/vkontakte.png", :class=>"icon"%> <a href="">Вконтакте</a>
            </div>
            <div class="mbm">
              <%=image_tag "icons/twitter.png", :class=>"icon" %> <a href="">Twitter</a>
            </div>
            <div class="mbm">
              <%=image_tag "icons/youtube.png", :class=>"icon" %> <a href="">YouTube</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
