<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title || "Muzkom - Интернет магазин оборудование для: DJ‘s, саунд-продюсеров, музыкантов, ночных клубов"%></title>
  <meta name="description" content="<%= @meta_description || "DJ оборудование, студийное оборудование, музыкальные инструменты, звуковое и световое оборудование"%>" />
  <meta name="keywords" content="<%= @meta_keywords || "звуковое оборудование и музыкальные инструменты"%>" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "favicon.png"%>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>
  <script type="text/javascript">
    VK.init({apiId: 2800557, onlyWidgets: true});
  </script>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="wrapper">
    <div class="header">
      <div class="clearfix">
        <div class="col1of4">
          <%= link_to image_tag("logo.png", :class=>"mvs"), root_path %><br />
        </div>
        <div class="col2of4 ptm">
          <h4 class="mbs">Интернет магазин</h4>
          <p>Оборудование для: DJ‘s | саунд-продюсеров | музыкантов | ночных клубов</p>
          <p class="right">(063) <span class="phone"> 625 48 05</span>, (044) <span class="phone">592 86 14</span></p>
        </div>
        <div class="right mvm">
          <div class="mbm">
            <span class="muted">Все цены в </span>
            <%= form_tag change_currency_path, :method => :put do%>
            <select name="currency" id="" style="width: 80px" change="submitForm">
              <option value="uah" <%= "selected" if session[:currency] == "uah"%>>ГРН</option>
              <option value="usd" <%= "selected" if session[:currency] == "usd"%>>USD</option>
              <option value="eur" <%= "selected" if session[:currency] == "eur"%>>EUR</option>
            </select>
            <%end%>
          </div>
          <div class="cart">
             <%= link_to image_tag("cart.png"), cart_path %>
            <div class="left mtx">
              <strong>товаров:</strong> 
              <strong class="value"><%=@cart.items.sum{|i|i.quantity}%></strong><br />
              <strong>на сумму:</strong> <strong class="value"><%= human_price @cart.total(session[:currency])%> </strong>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="navigation">
      <ul class="mainmenu col4of5">
        <li><%= link_to "Новости", publications_path%></li>
        <li><%= link_to "О нас", "/about_us"%></li>
        <li><%= link_to "Оплата/доставка", "/payment_delivery"%></li>
        <li><%= link_to "Гарантия", "/warranty"%></li>
        <li><%= link_to "Акции", promotions_path%></li>
        <li><%= link_to "Дисконт", "/discount"%></li>
        <li><%= link_to "Контакты", new_feedback_path%></li>
        <li><%= link_to "Корзина", cart_path %></li>
      </ul>
      <div class="col1of5 mts">
        <%= link_to image_tag("icons/facebook.png", :size=>"20x20", :class=>"mas"), "http://www.facebook.com/profile.php?id=100001185448670"%>
        <%= link_to image_tag("icons/vkontakte.png", :size=>"20x20", :class=>"mas"), "http://vk.com/id55454631"%>
        <%= link_to image_tag("icons/twitter.png", :size=>"20x20", :class=>"mas"), "https://twitter.com/#!/muzkom_com_ua"%>
        <%= link_to image_tag("icons/youtube.png", :size=>"20x20", :class=>"mas"), "http://www.youtube.com/user/MUZKOM"%>
        <%= link_to image_tag("icons/rss.png", :size=>"20x20", :class=>"mas"), "/feed"%>
      </div>
    </div>
    <div class="body">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="clearfix">
        <div class="col3of4">
          <div class="clearfix mbl">
            <div class="col2of5">
              <p class="block by-center">
                <%= image_tag "logo_small.png" %><br />
                профессиональное музыкальное оборуование
                <br />
                <br />
              </p>
            </div>
            <div class="col3of5">
              <div class="block">
                <p class="mbn">г. Киев</p>
                <p class="mbn">Тел.:<br /> (063) 625 48 05,</p>
                <p class="mbn">(044) 592 86 14</p>
                <p class="mbn">ICQ: 570560950</p>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <p class="mrm">Copyright 2010 - <%= Time.now.year%> Muzkom.com.ua Все права защищены. Интернет магазин MUZKOM предлагает купить музыкальные инструменты, DJ оборудование, световое и звуковое оборудование от лучших производителей с доставкой по всей Украине. </p>
          </div>
        </div>
        <div class="col1of4">
          <div class="mll">
            <div class="mbm">
              <%= image_tag "icons/facebook.png", :class=>"icon" %> <a href="http://www.facebook.com/profile.php?id=100001185448670" target="_blank">Facebook</a>
            </div>
            <div class="mbm">
              <%=image_tag src="icons/vkontakte.png", :class=>"icon"%> <a href="http://vk.com/id55454631" target="_blank">Вконтакте</a>
            </div>
            <div class="mbm">
              <%=image_tag "icons/twitter.png", :class=>"icon" %> <a href="https://twitter.com/#!/muzkom_com_ua" target="_blank">Twitter</a>
            </div>
            <div class="mbm">
              <%=image_tag "icons/youtube.png", :class=>"icon" %> <a href="http://www.youtube.com/user/MUZKOM" target="_blank">YouTube</a>
            </div>
            <div class="mbm">
              <%= image_tag "icons/livejournal_logo.png", :class=>"icon"%><a href="http://muzkom-com-ua.livejournal.com/" target="_blank">LiveJournal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--LiveInternet counter--><script type="text/javascript"><!--document.write("<a href='http://www.liveinternet.ru/click' "+"target=_blank><img src='//counter.yadro.ru/hit?t44.2;r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+""+screen.height+""+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random()+"' alt='' title='LiveInternet' "+"border='0' width='31' height='31'><\/a>")//--></script><!--/LiveInternet-->
</body>
</html>
